:root{ /*Global color Variables*/
    --pri: #FCDEC0;
    --sec: #2c1a0f;
    --tri1: #FEBA17;
    --tri2: #74512D;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}

.elem{
    background-color: #FEBA17;
    height: 300px;
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 23px;
}

.elem:active{
    scale: 0.97;
}

.backing{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.backing:hover{
    bottom: 0;
    background: radial-gradient(circle, transparent, black);
    transition: all ease 0.1s;
}

.fullElements{
    height: 100%;
    width: 100%;
    background-color: #2c1a0f;
    padding: 40px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius:10px;
    padding: 7px 9px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.back:active{
    scale: 0.95;
}


/* ToDo List Window */
/* .todo-list-fullpage{
    /* display: block;
} */

.todo-list-fullpage h2{
    font-size: 50px;
}
 
.todo-list-fullpage .todo-container{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: #74512D;
    border-radius: 20px;
    padding: 30px;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: #74512D;
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.todo-container .addTask form #task-input{
    padding: 15px 15px;
    width: 100%;
    font-size: 15px;
    background-color: var(--pri);
    color: var(--tri2);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--tri2);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 700;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}

.todo-container .addTask form button:active{
    scale: 0.95;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: #74512D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 5px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task h5{
    color: var(--sec);
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 5px;
}

.task h5 span{
    background-color: red;
    color: var(--pri);
    font-size: 12px;
    border-radius: 50px;
    padding: 2px 5px;
}

.task p{
    color: var(--sec);
    font-size: 12px;
}

.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity:0;
}

.task button{
    padding: 10px 20px;
    color: var(--pri);
    background-color: green;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.task button:active{
    scale: 0.95;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.mark-imp input{
    scale: 1.7;
}

.mark-imp label{
    scale: 1.1;
    margin-left: 25px;
}



/* Daily Planner Window */

/* .daily-planner-fullpage{
    /* display: block; 
} */

.daily-planner-fullpage h2{
    font-size: 50px;
}

.daily-planner-fullpage .day-planner{
    height: 85%;
    width: 100%;
    margin-top: 30px;
    background-color: var(--tri2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    padding:1px;
    border-radius: 10px;
    position: relative;
    width: 49%;
    margin-bottom: 10px;
}

.daily-planner-fullpage .day-planner .day-planner-time input{
    width: 100%;
    padding: 10px 75px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none; 
    font-size: 25px;
    padding-top: 20px;
    outline: none;
}

.daily-planner-fullpage .day-planner .day-planner-time p{
    position: absolute;
    top: 20%;
    left: 1%;
    font-size: 14px;
    color: var(--tri1);
}


/* Motivational Window */
.motivational-fullpage{
    display: block;
    position: relative;
}

.motivational-fullpage .motivation-container{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.motivational-fullpage .motivation-container::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    scale: 1.15;
    filter: blur(50px);
    background-color: var(--tri1);
    z-index: 8;
}

.motivational-fullpage .motivation-container .motivational-wrapper{
    padding: 20px;
    z-index: 10;
    position: absolute;
    height: auto;
    width: 100%;
    background-color: var(--tri1);
    border-radius: 40px;
}

.motivation1{
    background-color: var(--tri2);
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
}

.motivation2{
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: var(--sec);
    text-align: center;
}