:root{ /*Global color Variables*/
    --pri: #2c3e50;
    --sec: #f8f9fa;
    --tri1: #4a90e2;
    --tri2: #e9ecef;
    --red: red;
    --black: black;
    --green:  rgb(41, 154, 109);
    --blue: rgb(0, 135, 246);
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 30px;
    position: absolute;
    overflow: auto;
}

.allElems header{
    height: 230px;
    width: 100%;
    background-color: var(--tri2);
    margin-bottom: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 30px;
    background-image: url('https://plus.unsplash.com/premium_photo-1668091148044-056cd744e64a?q=80&w=1190&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

header .header1 h1{
    font-size: 50px;
    font-weight: 700;
}

header .header1 h4{
    font-size: 20px;
    font-weight: 500;
}

header .header2 h2{
    font-size: 25px;
}

header .header2 h3{
    font-size: 15px;
    font-weight: 500;
}

header .header2 h4{
    font-size: 15px;
    font-weight: 500;
}

header .header2 h5{
    font-size: 15px;
    font-weight: 500;
}

header .header2 h6{
    font-size: 15px;
    font-weight: 500;
}

.allElems .allFeatures{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.elem{
    background-color: var(--tri1);
    height: 300px;
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 23px;
    color: whitesmoke
}

.elem:active{
    scale: 0.97;
}

.backing{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.backing:hover{
    bottom: 0;
    background: radial-gradient(circle, transparent, var(--black));
    transition: all ease 0.1s;
}

.fullElements{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius:10px;
    padding: 7px 9px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.back:active{
    scale: 0.95;
}


/* ToDo List Window */
/* .todo-list-fullpage{
    /* display: block;
} */

.todo-list-fullpage h2{
    font-size: 50px;
}
 
.todo-list-fullpage .todo-container{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.todo-container .addTask form #task-input{
    padding: 15px 15px;
    width: 100%;
    font-size: 15px;
    background-color: var(--pri);
    color: var(--tri2);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--tri2);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 700;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}

.todo-container .addTask form button:active{
    scale: 0.95;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    overflow: auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 5px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task h5{
    color: var(--sec);
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 5px;
}

.task h5 span{
    background-color: var(--red);
    color: var(--pri);
    font-size: 12px;
    border-radius: 50px;
    padding: 2px 5px;
}

.task p{
    color: var(--sec);
    font-size: 12px;
}

.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity:0;
}

.task button{
    padding: 10px 20px;
    color: var(--pri);
    background-color: var(--green);
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.task button:active{
    scale: 0.95;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.mark-imp input{
    scale: 1.7;
}

.mark-imp label{
    scale: 1.1;
    margin-left: 25px;
}



/* Daily Planner Window */

/* .daily-planner-fullpage{
    /* display: block; 
} */

.daily-planner-fullpage h2{
    font-size: 50px;
}

.daily-planner-fullpage .day-planner{
    height: 85%;
    width: 100%;
    margin-top: 30px;
    background-color: var(--tri2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    padding:1px;
    border-radius: 10px;
    position: relative;
    width: 49%;
    margin-bottom: 10px;
}

.daily-planner-fullpage .day-planner .day-planner-time input{
    width: 100%;
    padding: 10px 75px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none; 
    font-size: 25px;
    padding-top: 20px;
    outline: none;
}

.daily-planner-fullpage .day-planner .day-planner-time p{
    position: absolute;
    top: 20%;
    left: 1%;
    font-size: 14px;
    color: var(--tri1);
}


/* Motivational Window */
.motivation-fullpage-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-fullpage{
    /* display: block; */
    position: relative;
}

.motivational-fullpage .motivation-container{
    height: 300px;
    width: 400px;
    border-radius: 50px;
    position: relative;
}

.motivational-fullpage .motivation-container::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    scale: 1.15;
    filter: blur(50px);
    background-color: var(--tri1);
    z-index: 8;
}

.motivational-fullpage .motivation-container .motivational-wrapper{
    padding: 20px;
    z-index: 10;
    position: absolute;
    height: auto;
    width: 100%;
    background-color: var(--tri1);
    border-radius: 40px;
    border: 3px solid var(--sec);
}

.motivation1{
    background-color: var(--tri2);
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    border: 3px solid var(--sec);
}

.motivation2{
    padding: 20px;
    text-align: center;
}

.motivation2 h1{
    color: var(--sec);
    font-size: 25px;
    font-weight: 700;
}

.motivation3{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.motivation3 h2{
    font-size: 14px;
    font-weight: 500;
    background-color: var(--tri2);
    padding: 10px;
    border-radius: 50px;
    text-align: right;
    width: fit-content;
    border: 3px solid var(--sec);
}

.pomodoro-fullpage{
    /* display: block; */
    position:relative;
    background-image: url('https://images.unsplash.com/photo-1771149075220-71d843d3a7ee?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.pomodoro-fullpage h2{
    font-size: 50px;
}

.pomodoro-fullpage .pomo-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1{
    font-size: 120px;
}

.pomo-timer button{
    background-color: var(--tri2);
    padding: 15px 40px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    color: var(--pri);
    font-size: 20px;
    transition: all ease 0.3s;
}

.pomo-timer button:active{
    scale: 0.95;
}

.pomodoro-fullpage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--tri1);
    padding: 7px 10px;
    font-size: 30px;
    border-radius: 5px;
}

.theme{
    position: absolute;
    top: 6.4%;
    right: 13%;
    background-color: var(--pri);
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 30px;
    transition: all ease 0.3s;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.7);
}

.day{
    background-image: url('https://images.unsplash.com/photo-1774017092224-54c07e928a39?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
}

.night{
    background-image: url('https://images.unsplash.com/photo-1776320644111-f72194d35eb8?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0fHx8ZW58MHx8fHx8');
    background-position: center;
}

.theme:active{
    scale: 0.95;
}



/* Daily Goals */
.daily-goals-fullpage{
    /* display: block; */
    position: relative;
}

.daily-goals-fullpage h2{
    font-size: 50px;
}

.daily-goals-fullpage .dailydiv{
    width: 100%;
    height: 87%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-top: 25px;
}

.daily-goals-fullpage .dailydiv .formdiv{
    height: 100%;
    width: 30%;
    background-color: var(--tri2);
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    overflow: auto;
}

.daily-goals-fullpage .dailydiv .goalsdiv{
    height: 100%;
    width: 68%;
    background-color: var(--tri2);
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    overflow:auto;
}

.daily-goals-fullpage .formdiv form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.daily-goals-fullpage .formdiv form input,textarea, .btn{
    height: 50px;
    width: 98%;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--sec);
    color: var(--pri);
}

.daily-goals-fullpage .formdiv form textarea{
    height: 75px;
}

.daily-goals-fullpage .formdiv form .goals{
    font-size: 15px;
    display: flex;
    margin: 40px 0;
}

.daily-goals-fullpage .formdiv form .goals input[type="radio"] {
    width: 25px;
    height: 25px;
    accent-color: blue; 
}

.daily-goals-fullpage .formdiv form .btn:active{
    scale: 0.95;
}

.daily-goals-fullpage .dailydiv .goalsdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.daily-goals-fullpage .goalsdiv #mind-item,
.daily-goals-fullpage .goalsdiv #work-item,
.daily-goals-fullpage .goalsdiv #body-item,
.daily-goals-fullpage .goalsdiv #other-item{
    background-color: var(--sec);
    height: 200px;
    width: calc(50% - 10px);
    flex-shrink: 0;
    border-radius: 10px;
    padding: 20px;
}

.daily-goals-fullpage .goalsdiv #mind-item h6,
.daily-goals-fullpage .goalsdiv #work-item h6,
.daily-goals-fullpage .goalsdiv #body-item h6,
.daily-goals-fullpage .goalsdiv #other-item h6{
    text-align: center;
    font-size: 15px;
    color: var(--pri);
}

.daily-goals-fullpage .goalsdiv .type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow:auto;
    flex-wrap: wrap;
    background-color: var(--tri2);
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 12px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin: 3;
    font-size: 14px;
    color: var(--sec);
}

.daily-goals-fullpage .goalsdiv .type h6{
    margin: 0 0 8px;
    font-size: 16px;
    color: var(--pri);
}

.daily-goals-fullpage .goalsdiv .type button{
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--tri1);
    color: var(--pri);
    border: none;
    cursor: pointer;
    font-weight: 700;
}